# Database Configuration
DB_HOST=[postgres database IP address]
DB_PORT=[postgres port]
DB_USER=repoman
DB_PASSWORD=
DB_NAME=repoman

# Server Configuration
SERVER_PORT=8080
SERVER_ADDRES=127.0.0.1

# Local Store
DATASTORE_DIR=[path to local git library]

